/* Container para centralizar o conteúdo da página e definir sua largura máxima */
.container-conteudo {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Organiza os elementos verticalmente */
    align-items: center;
    
}

.container-conteudo h2 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

/* Estilos para a lista de portfólio */
.lista-portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
}

/* Estilos para os itens da lista de portfólio */
.lista-portfolio li {
    width: 100%;
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para as imagens do portfólio */
.lista-portfolio img {
    max-width: 300px;
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para os parágrafos do portfólio */
.lista-portfolio p {
    flex-grow: 1; /* Faz com que o parágrafo ocupe o espaço restante */
    margin-left: 30px;
    letter-spacing: 0.7px;
    line-height: 27px;
}


@media screen and (max-width: 768px) {
    .lista-portfolio p {
        font-size: 18px;
    }
}

@media screen and (max-width: 425px) {
    .lista-portfolio li {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .lista-portfolio li img {
        width: 100%;
        max-width: 100%;
        padding-top: 15px;
    }
}

@media screen and (max-width: 320px) {
    .lista-portfolio p {
        margin-left: 5px;
        font-size: 17px;
    }

}