/* Estilos Gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(107,112,116,1) 1%, rgba(68,68,73,1) 100%, rgba(151,162,164,1) 100%);
}

/*.limita-secao {
    max-width: 1024px;
    margin: 0 auto;
}*/

header {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: rgb(51, 50, 50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-topo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 20px;
}

.links-topo a {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 3px 5px 2px #000000;
    color: #5734f5;
    letter-spacing: 2px;
}

.links-topo a:hover {
    transform: perspective(100px) translateZ(15px);  /* Criação do efeito 3D ao passar o mouse sobre o link. A `perspective(100px)` cria uma sensação de profundidade, e o `translateZ(10px)` move o elemento 10 pixels para frente no eixo Z. */
    color: #a6a8b4;
}

.secao-titulo {
    padding-top: 20vh;
    background: radial-gradient(circle, rgba(107,112,116,1) 0%, rgba(34,35,36,1) 69%, rgba(68,68,73,1) 100%, rgba(151,162,164,1) 100%);

}

.titulo {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10vh;
    letter-spacing: 2px;
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
}

.cargo {
    font-size: 30px;
    font-weight: 500;
}

main {
    width: 100%;
    max-width: 1024px;
    padding-top: 10vh;
}

.conteudo-principal {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6rem;
    margin-left: 5rem;
} 

.secao-image img {
    width: 25rem;
    
}

